.container {
  width: 100%;
  padding: 1rem var(--spacing-lg);
  background-color: #000000;
}

.content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    order: 2;
    text-align: center;
  }

  .socialIcons {
    order: 1;
    justify-content: center;
  }

  .links {
    width: 100%;
    text-align: center;
    order: 3;
  }
}

.copyright {
  color: var(--color-white);
  font-size: 0.875rem;
  letter-spacing: var(--letter-spacing-lg);
}

.socialIcon {
  color: var(--color-white) !important;
  font-size: 1.5rem !important;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50% !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.socialIcon:hover {
  opacity: 0.7 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.link {
  color: var(--color-white) !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  letter-spacing: var(--letter-spacing-lg);
}

.link:hover {
  opacity: 0.7 !important;
}
