.topBanner {
  background-color: var(--color-black) !important;
  width: 100%;
  position: fixed;
  top: 0;
  height: var(--banner-height);
  z-index: 10000;
  text-align: center;
}

.heroBannerContainer {
  margin: 0 10%;
}
